@model Garage2._0.Models.ParkVehicle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Parked Vehicle Detail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingSlot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingSlot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNumber)
        </dt>
        <dd style="text-transform:uppercase;" class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wheels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
