@model IEnumerable<Garage2._0.Models.IndexViewModel>

@inject IVehicleTypeSelectListService service
@{
    ViewData["Title"] = "Garage List";
}
 

@if ( TempData["Success"] != null ) 
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
<h1>Garage List</h1>

<form asp-action="Filter">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="regSearch" placeholder="Search on registration no..." />
        <input type="text" class="form-control" name="colSearch" placeholder="Search on color..." />
        <input type="text" class="form-control" name="brandSearch" placeholder="Search on brand..." />
        <input type="text" class="form-control" name="modelSearch" placeholder="Search on model..." />
        <input type="text" class="form-control" name="wheelSearch" placeholder="Search on no of wheels..." />

        <div class="input-group-append">
            <select class="form-control" name="vehicleType" asp-items="@await service.GetActiveVehicleTypesAsync()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
    </div>
        <div class="input-group mb-3">
            <div class="input-group-append ml-5">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
            </div>
            <div class="input-group-append ml-5">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Reset</i></button>
            </div>
        </div>
</form>


<div class="table-responsive col m-3 ">
    <table class="table table caption-top table-bordered table-hover table-primary ">
        <caption> Parked Vehicles Details </caption>
        <thead>
            <tr>
                <th scope="col">
                   @Html.ActionLink("Owner", "Index2", new { sortOrder = ViewBag.MemberSortParm})
                </th>
                <th scope="col">
                   @Html.ActionLink("Vehicle Type", "Index2", new { sortOrder = ViewBag.VehicleSortParm})
                </th>
                <th scope="col">
                   @Html.ActionLink("Parking Slot", "Index2", new { sortOrder = ViewBag.ParkingSortParm})
                </th>
                <th>
                    @Html.ActionLink("RegNumber", "Index2", new { sortOrder = ViewBag.RegNumberSortParm})
                </th>
                <th>
                    @Html.ActionLink("Color", "Index2", new { sortOrder = ViewBag.ColorSortParm})
                </th>
                <th>
                   @Html.ActionLink("Brand", "Index2", new { sortOrder = ViewBag.BrandSortParm})
                </th>
                <th>
                    @Html.ActionLink("Model", "Index2", new { sortOrder = ViewBag.ModelSortParm})
                </th>
                <th>
                    @Html.ActionLink("Wheels", "Index2", new { sortOrder = ViewBag.WheelsSortParm})
                </th>
                <th>
                    @Html.ActionLink("Parking duration", "Index2", new { sortOrder = ViewBag.DurationSortParm})
                </th>

            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParkingSpotNR)
                    </td>
                    <td style="text-transform:uppercase;">
                        @Html.DisplayFor(modelItem => item.RegNumber)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wheels)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParkTime)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
