@model IEnumerable<Garage2._0.Models.ParkVehicle>

@{
    ViewData["Title"] = "Garage List";
}

<h1>Garage List</h1>

<form asp-action="Filter">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="regSearch" placeholder="Search on registration no..." />
        <div class="input-group-append">
            <select class="form-control" name="vehicleType" asp-items="@Html.GetEnumSelectList<VehicleType>()">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>


<div class="table-responsive col m-3 ">
    <table class="table table caption-top table-bordered table-hover table-primary ">
        <caption> Parked Vehicles Details </caption>
        <thead>
            <tr>
                <th scope="col">
                   @Html.ActionLink("Vehicle Type", "Index", new { sortOrder = ViewBag.VehicleSortParm})
                </th>
                <th>
                    @Html.ActionLink("RegNumber", "Index", new { sortOrder = ViewBag.RegNumberSortParm})
                </th>
                <th>
                    @Html.ActionLink("Color", "Index", new { sortOrder = ViewBag.ColorSortParm})
                </th>
                <th>
                   @Html.ActionLink("Brand", "Index", new { sortOrder = ViewBag.BrandSortParm})
                </th>
                <th>
                    @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSortParm})
                </th>
                <th>
                    @Html.ActionLink("Wheels", "Index", new { sortOrder = ViewBag.WheelsSortParm})
                </th>
                <th>
                    @Html.ActionLink("CheckInTime", "Index", new { sortOrder = ViewBag.CheckInTimeSortParm})
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Wheels)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckInTime)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Check-Out</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
