@model Garage2._0.Models.PickParkingSpotViewModel
@inject IMemberSelectListService service2
@{
    ViewData["Title"] = "Check In Member";
}



<h1>Park your vehicle</h1>

<h4>Enter the vehicle's data here</h4>
<hr />


<div class="row">

    <div class="col-md-4">
        <form asp-action="PickParkingSpot">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">

                @Html.DisplayFor(model => model.MemberName)


            </div>
            <div class="col-md-4">

                @Html.DisplayFor(model => model.RegNR)


            </div>
            <div class="form-group">
                <label asp-for="ParkingSpotId" class="control-label">Parking Spot</label>
                <select asp-for="ParkingSpotId" class="form-control" id="ParkingSpotId"
                        asp-items="@Model.ParkingSpots">
                    <option value="">Pick Parking Spot</option>
                </select>
                <span asp-validation-for="ParkingSpotId" class="text-danger"></span>

            </div>

            
             @Html.HiddenFor(model => model.MemberName)
             @Html.HiddenFor(model => model.RegNR)
             @Html.HiddenFor(model => model.Size)
             
             
             @Html.HiddenFor(model => model.VehicleId)
            <div class="form-group">
                <input type="submit" value="Park" class="btn btn-primary" id="SubmitId" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    <script type="text/javascript">

    </script>
}
}

