@model Garage2._0.Models.StatisticsViewModel

@{
    ViewData["Title"] = "Statistics";
}

<h1>Statistics</h1>

<div>
    <h4>Statistics</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Members)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Members)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfVehicles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfVehicles)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfParkedVehicles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfParkedVehicles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfWheels)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfWheels)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentFees) <text>kr</text>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PredictedFees)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PredictedFees) <text>kr</text>
        </dd>
        @foreach (var item in Model.VehicleTypeAmount)
            {
            <dt class = "col-sm-2">
                @Html.DisplayFor(modelItem => item.Category)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(modelItem => item.Count)
            </dd>
            }
            
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
